$colors: (
        mirage: #1B2531, aqua: #01FEFE, white: #FFFFFF, blueChill: #0C6B97, dullMirage: rgba(27, 37, 49, 0.8),
        pampas: #EFEAE4, biscary: #203F6C, denim: #147CAC,
        magenta: #DC00FE, vividViolet: #9F34AF, heliotrope: #DF31FA, silverChalice: #ACACAC, scorpion: #625E5D,
        robinsEggBlue: #01d3d3, bluewood: #263246, deepSeaGreen: #094967,
        timberwolf: #D4D1CC, alabaster: #FAFAFA, curiosBlue: #27A1DA,

);

$pointer: pointer;
$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;
$font16: 1em;
$desktop: 800px;
$monitor: 1100px;

@function color($name) {
    @return map_get($colors, $name);
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Nunito", sans-serif;
    width: 100%;

    @media print {
        color: black;
    }

    main {
        padding: $navBarHeight 8% 8% 8%;
        display: flex;
        flex-direction: column;

        header {
            #heading {
                text-align: center;
                color: color(mirage);
                @include desktop {
                    text-align: left;
                    margin-bottom: 0;
                }
                @media print {
                    color: color(mirage);
                }
            }

            #actionable {
                @media print {
                    display: none;
                }

                @include desktop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                }
                #last-update {
                    font-size: .9em;
                }
                #print-link {
                    display: flex;
                    color: color(blueChill);
                    text-decoration: underline;
                    font-size: .8em;
                    align-items: center;
                    fill: color(blueChill);
                    margin: 5px 0 10px 5px;
                    cursor: $pointer;

                    span {
                     margin-right: 5px;
                    }
                }
            }

            #preamble {
                @include desktop {
                    margin-bottom: 30px;
                }
                @media print {
                    margin-bottom: 30px;
                }
            }

            #lead {
                display: block;
                margin: 30px 0 20px;
                text-align: center;
                font-weight: 300;
                color: color(dullMirage);
                font-size: .8em;

                @include desktop {
                    display: none;
                }

                @media print {
                    display: none;
                }
            }
        }

        #desktop {
            display: none;

            @media print {
                display: block;
            }

            @include desktop {
                display: grid;
                grid-template-columns: 280px auto;
                column-gap: 30px;
            }

            #column {
                max-height: 500px;
                overflow-y: scroll;

                @media print {
                    max-height: none;
                    overflow-y: hidden;
                }
            }

            #side-bar {
                text-transform: capitalize;
                margin-top: 20px;

                .nav-elem {
                    margin-bottom: 20px;
                    display: block;
                    text-decoration: none;
                    color: rgba(27, 37, 49, 0.72);
                }

                @media print {
                    display: none;
                }
            }
            .title {
                font-weight: bold;
                font-size: 1.125em;
                border-bottom: 1px solid rgba(27, 37, 49, 0.31);
                padding-bottom: 5px;
            }
            .scroll-up {
                display: flex;
                align-items: center;
                color: color(blueChill);
                text-transform: capitalize;
                margin-bottom: 40px;
                width: fit-content;

                span {
                    margin-right: 5px;
                }
            }
        }

        #mobile {
            @include desktop {
                display: none;
            }

            @media print{
                display: none;
            }

        }

        .sub-title {
            font-weight: bold;
        }

        .sections-accordion {
            color: color(mirage);
            padding: 5px 0;

            .section-toggle {
                display: flex;
                align-items: center;
                cursor: pointer;
                color: color(mirage);
                margin: 10px 0;
                font-weight: bold;

                .down span, .up span {
                    fill: color(mirage);
                    color: color(mirage);
                }

                .section-title {
                    margin-left: 5px;
                    font-size: 1.125em;
                }
            }

            .section-toggle.shown, .section-toggle:hover {
                color: color(blueChill);
            }
            .title, .scroll-up {
                display: none;
            }

            section {
                padding: 0 5px;
                display: none;
                border: 1px solid rgba(27, 37, 49, 0.31);
                border-radius: 5px;
                transition: max-height 0.2s ease-out;
            }
        }
    }

    .page-mask {
        background: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 50;
    }
}

.hidden {
    display: none !important;
}

.bold {
    font-weight: bold !important;
}

.info {
    font-weight: 300;
    font-size: .8em;
    text-align: center;
}


.btn-link {
    -webkit-border-radius: $webkitRadius;
    border-radius: $borderRadius;
    cursor: $pointer;
    text-decoration: none;
    font-size: 1.25vw;
    display: inline-block;
    border-color: #27A1DA;
    border-style: solid;
    text-align: center;
    background-color: color(white);
    color: #27A1DA;
}

.client-btn, .tutor-btn {
    padding: .45rem 1.2rem;
    margin: .5vw 2vw 1.25vw;
    border-width: 1px;
    font-size: .9em;
}
